*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
helper
MANIFEST

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

#VirtualEnv Files
venv/*

#Translations
*.mo

#IDEs
.mr.developer.cfg
.project
.pydevproject
.idea/
.xcode

# Mac file
.DS_Store

#Xcode
DerivedData/*

#Custom settings of the project
project.settings
